extends layout

block content
	h1 Login
	p Please Login bellow
	form(method='post',action='/users/register',enctype='multipart/form-data')
		.form-group
			label User Name
			input.form-control(name='username', type='text')
		.form-group
			label Password
			input.form-control(name='password', type='password')
		input.btn.btn-default(name='submit', type='submit', value='Login')