extends layout

block content
	h1 Register
	p Please Register usign the form bellow
	ul.errors
		if(errors)
			each error, o in errors
				li.alert.alert-danger #{error.msg}
	form(method='post',action='/users/register',enctype='multipart/form-data')
		.form-group
			label Name
			input.form-control(name='name', type='text', placeholder='Enter Your Name')
		.form-group
			label Email
			input.form-control(name='email', type='email', placeholder='Enter Your Email')
		.form-group
			label User Name
			input.form-control(name='username', type='text', placeholder='Enter Your User Name')
		.form-group
			label Password
			input.form-control(name='password', type='password', placeholder='Enter Your Password')
		.form-group
			label Confirm Password
			input.form-control(name='password2', type='password', placeholder='Enter Your Confirm Password')
		.form-group
			label Profile Image
			input.form-control(name='profileimage', type='file')
		input.btn.btn-default(name='submit', type='submit', value='Register')